a[href^="##"],a[href^="##"]:hover,a[href^="##"]:active,a[href^="##"]:visited {
	text-indent:-9999em;
	image-rendering:optimizeQuality;
	font-size:inherit;
	height:16px;
	width:16px;
	vertical-align: sub;
	display:inline-block;
	margin:-.2ex .15em .2ex;
	line-height:normal;
	background-image:url(%%emojione%%);
	background-size:3000%;
	background-repeat:no-repeat;
	min-height:16px;
	min-width:16px;
}
a[href$="#hash"]{background-position:3.44828% 0%}
a[href$="#zero"]{background-position:6.89655% 71.42857%}
a[href$="#one"]{background-position:0% 3.57143%}
a[href$="#two"]{background-position:3.44828% 3.57143%}
a[href$="#three"]{background-position:6.89655% 0%}
a[href$="#four"]{background-position:6.89655% 3.57143%}
a[href$="#five"]{background-position:0% 7.14286%}
a[href$="#six"]{background-position:3.44828% 7.14286%}
a[href$="#seven"]{background-position:6.89655% 7.14286%}
a[href$="#eight"]{background-position:10.34483% 0%}
a[href$="#nine"]{background-position:10.34483% 3.57143%}
a[href$="#copyright"]{background-position:10.34483% 7.14286%}
a[href$="#registered"]{background-position:0% 10.71429%}
a[href$="#mahjong"]{background-position:3.44828% 10.71429%}
a[href$="#black_joker"]{background-position:6.89655% 10.71429%}
a[href$="#a"]{background-position:10.34483% 10.71429%}
a[href$="#b"]{background-position:13.7931% 0%}
a[href$="#o2"]{background-position:13.7931% 3.57143%}
a[href$="#parking"]{background-position:13.7931% 7.14286%}
a[href$="#ab"]{background-position:13.7931% 10.71429%}
a[href$="#cl"]{background-position:0% 14.28571%}
a[href$="#cool"]{background-position:3.44828% 14.28571%}
a[href$="#free"]{background-position:6.89655% 14.28571%}
a[href$="#id"]{background-position:10.34483% 14.28571%}
a[href$="#new"]{background-position:13.7931% 14.28571%}
a[href$="#ng"]{background-position:17.24138% 0%}
a[href$="#ok"]{background-position:17.24138% 3.57143%}
a[href$="#sos"]{background-position:17.24138% 7.14286%}
a[href$="#up"]{background-position:17.24138% 10.71429%}
a[href$="#vs"]{background-position:17.24138% 14.28571%}
a[href$="#cn"]{background-position:0% 17.85714%}
a[href$="#de"]{background-position:3.44828% 17.85714%}
a[href$="#es"]{background-position:6.89655% 17.85714%}
a[href$="#fr"]{background-position:10.34483% 17.85714%}
a[href$="#gb"]{background-position:13.7931% 17.85714%}
a[href$="#it"]{background-position:17.24138% 17.85714%}
a[href$="#jp"]{background-position:20.68966% 0%}
a[href$="#kr"]{background-position:20.68966% 3.57143%}
a[href$="#ru"]{background-position:20.68966% 7.14286%}
a[href$="#us"]{background-position:20.68966% 10.71429%}
a[href$="#koko"]{background-position:20.68966% 14.28571%}
a[href$="#sa"]{background-position:20.68966% 17.85714%}
a[href$="#u7121"]{background-position:0% 21.42857%}
a[href$="#u6307"]{background-position:3.44828% 21.42857%}
a[href$="#u7981"]{background-position:6.89655% 21.42857%}
a[href$="#u7a7a"]{background-position:10.34483% 21.42857%}
a[href$="#u5408"]{background-position:13.7931% 21.42857%}
a[href$="#u6e80"]{background-position:17.24138% 21.42857%}
a[href$="#u6709"]{background-position:20.68966% 21.42857%}
a[href$="#u6708"]{background-position:24.13793% 0%}
a[href$="#u7533"]{background-position:24.13793% 3.57143%}
a[href$="#u5272"]{background-position:24.13793% 7.14286%}
a[href$="#u55b6"]{background-position:24.13793% 10.71429%}
a[href$="#ideograph_advantage"]{background-position:24.13793% 14.28571%}
a[href$="#accept"]{background-position:24.13793% 17.85714%}
a[href$="#cyclone"]{background-position:24.13793% 21.42857%}
a[href$="#foggy"]{background-position:0% 25%}
a[href$="#closed_umbrella"]{background-position:3.44828% 25%}
a[href$="#night_with_stars"]{background-position:6.89655% 25%}
a[href$="#sunrise_over_mountains"]{background-position:10.34483% 25%}
a[href$="#sunrise"]{background-position:13.7931% 25%}
a[href$="#city_dusk"]{background-position:17.24138% 25%}
a[href$="#city_sunset"]{background-position:20.68966% 25%}
a[href$="#city_sunrise"]{background-position:20.68966% 25%}
a[href$="#rainbow"]{background-position:24.13793% 25%}
a[href$="#bridge_at_night"]{background-position:27.58621% 0%}
a[href$="#ocean"]{background-position:27.58621% 3.57143%}
a[href$="#volcano"]{background-position:27.58621% 7.14286%}
a[href$="#milky_way"]{background-position:27.58621% 10.71429%}
a[href$="#earth_africa"]{background-position:27.58621% 14.28571%}
a[href$="#earth_americas"]{background-position:27.58621% 17.85714%}
a[href$="#earth_asia"]{background-position:27.58621% 21.42857%}
a[href$="#globe_with_meridians"]{background-position:27.58621% 25%}
a[href$="#new_moon"]{background-position:0% 28.57143%}
a[href$="#waxing_crescent_moon"]{background-position:3.44828% 28.57143%}
a[href$="#first_quarter_moon"]{background-position:6.89655% 28.57143%}
a[href$="#waxing_gibbous_moon"]{background-position:10.34483% 28.57143%}
a[href$="#full_moon"]{background-position:13.7931% 28.57143%}
a[href$="#waning_gibbous_moon"]{background-position:17.24138% 28.57143%}
a[href$="#last_quarter_moon"]{background-position:20.68966% 28.57143%}
a[href$="#waning_crescent_moon"]{background-position:24.13793% 28.57143%}
a[href$="#crescent_moon"]{background-position:27.58621% 28.57143%}
a[href$="#new_moon_with_face"]{background-position:31.03448% 0%}
a[href$="#first_quarter_moon_with_face"]{background-position:31.03448% 3.57143%}
a[href$="#last_quarter_moon_with_face"]{background-position:31.03448% 7.14286%}
a[href$="#full_moon_with_face"]{background-position:31.03448% 10.71429%}
a[href$="#sun_with_face"]{background-position:31.03448% 14.28571%}
a[href$="#star2"]{background-position:31.03448% 17.85714%}
a[href$="#stars"]{background-position:31.03448% 21.42857%}
a[href$="#chestnut"]{background-position:31.03448% 25%}
a[href$="#seedling"]{background-position:31.03448% 28.57143%}
a[href$="#evergreen_tree"]{background-position:0% 32.14286%}
a[href$="#deciduous_tree"]{background-position:3.44828% 32.14286%}
a[href$="#palm_tree"]{background-position:6.89655% 32.14286%}
a[href$="#cactus"]{background-position:10.34483% 32.14286%}
a[href$="#tulip"]{background-position:13.7931% 32.14286%}
a[href$="#cherry_blossom"]{background-position:17.24138% 32.14286%}
a[href$="#rose"]{background-position:20.68966% 32.14286%}
a[href$="#hibiscus"]{background-position:24.13793% 32.14286%}
a[href$="#sunflower"]{background-position:27.58621% 32.14286%}
a[href$="#blossom"]{background-position:31.03448% 32.14286%}
a[href$="#corn"]{background-position:34.48276% 0%}
a[href$="#ear_of_rice"]{background-position:34.48276% 3.57143%}
a[href$="#herb"]{background-position:34.48276% 7.14286%}
a[href$="#four_leaf_clover"]{background-position:34.48276% 10.71429%}
a[href$="#maple_leaf"]{background-position:34.48276% 14.28571%}
a[href$="#fallen_leaf"]{background-position:34.48276% 17.85714%}
a[href$="#leaves"]{background-position:34.48276% 21.42857%}
a[href$="#mushroom"]{background-position:34.48276% 25%}
a[href$="#tomato"]{background-position:34.48276% 28.57143%}
a[href$="#eggplant"]{background-position:34.48276% 32.14286%}
a[href$="#grapes"]{background-position:0% 35.71429%}
a[href$="#melon"]{background-position:3.44828% 35.71429%}
a[href$="#watermelon"]{background-position:6.89655% 35.71429%}
a[href$="#tangerine"]{background-position:10.34483% 35.71429%}
a[href$="#lemon"]{background-position:13.7931% 35.71429%}
a[href$="#banana"]{background-position:17.24138% 35.71429%}
a[href$="#pineapple"]{background-position:20.68966% 35.71429%}
a[href$="#apple"]{background-position:24.13793% 35.71429%}
a[href$="#green_apple"]{background-position:27.58621% 35.71429%}
a[href$="#pear"]{background-position:31.03448% 35.71429%}
a[href$="#peach"]{background-position:34.48276% 35.71429%}
a[href$="#cherries"]{background-position:37.93103% 0%}
a[href$="#strawberry"]{background-position:37.93103% 3.57143%}
a[href$="#hamburger"]{background-position:37.93103% 7.14286%}
a[href$="#pizza"]{background-position:37.93103% 10.71429%}
a[href$="#meat_on_bone"]{background-position:37.93103% 14.28571%}
a[href$="#poultry_leg"]{background-position:37.93103% 17.85714%}
a[href$="#rice_cracker"]{background-position:37.93103% 21.42857%}
a[href$="#rice_ball"]{background-position:37.93103% 25%}
a[href$="#rice"]{background-position:37.93103% 28.57143%}
a[href$="#curry"]{background-position:37.93103% 32.14286%}
a[href$="#ramen"]{background-position:37.93103% 35.71429%}
a[href$="#spaghetti"]{background-position:0% 39.28571%}
a[href$="#bread"]{background-position:3.44828% 39.28571%}
a[href$="#fries"]{background-position:6.89655% 39.28571%}
a[href$="#sweet_potato"]{background-position:10.34483% 39.28571%}
a[href$="#dango"]{background-position:13.7931% 39.28571%}
a[href$="#oden"]{background-position:17.24138% 39.28571%}
a[href$="#sushi"]{background-position:20.68966% 39.28571%}
a[href$="#fried_shrimp"]{background-position:24.13793% 39.28571%}
a[href$="#fish_cake"]{background-position:27.58621% 39.28571%}
a[href$="#icecream"]{background-position:31.03448% 39.28571%}
a[href$="#shaved_ice"]{background-position:34.48276% 39.28571%}
a[href$="#ice_cream"]{background-position:37.93103% 39.28571%}
a[href$="#doughnut"]{background-position:41.37931% 0%}
a[href$="#cookie"]{background-position:41.37931% 3.57143%}
a[href$="#chocolate_bar"]{background-position:41.37931% 7.14286%}
a[href$="#candy"]{background-position:41.37931% 10.71429%}
a[href$="#lollipop"]{background-position:41.37931% 14.28571%}
a[href$="#custard"]{background-position:41.37931% 17.85714%}
a[href$="#honey_pot"]{background-position:41.37931% 21.42857%}
a[href$="#cake"]{background-position:41.37931% 25%}
a[href$="#bento"]{background-position:41.37931% 28.57143%}
a[href$="#stew"]{background-position:41.37931% 32.14286%}
a[href$="#egg"]{background-position:41.37931% 35.71429%}
a[href$="#fork_and_knife"]{background-position:41.37931% 39.28571%}
a[href$="#tea"]{background-position:0% 42.85714%}
a[href$="#sake"]{background-position:3.44828% 42.85714%}
a[href$="#wine_glass"]{background-position:6.89655% 42.85714%}
a[href$="#cocktail"]{background-position:10.34483% 42.85714%}
a[href$="#tropical_drink"]{background-position:13.7931% 42.85714%}
a[href$="#beer"]{background-position:17.24138% 42.85714%}
a[href$="#beers"]{background-position:20.68966% 42.85714%}
a[href$="#baby_bottle"]{background-position:24.13793% 42.85714%}
a[href$="#ribbon"]{background-position:27.58621% 42.85714%}
a[href$="#gift"]{background-position:31.03448% 42.85714%}
a[href$="#birthday"]{background-position:34.48276% 42.85714%}
a[href$="#jack_o_lantern"]{background-position:37.93103% 42.85714%}
a[href$="#christmas_tree"]{background-position:41.37931% 42.85714%}
a[href$="#santa"]{background-position:44.82759% 0%}
a[href$="#fireworks"]{background-position:44.82759% 3.57143%}
a[href$="#sparkler"]{background-position:44.82759% 7.14286%}
a[href$="#balloon"]{background-position:44.82759% 10.71429%}
a[href$="#tada"]{background-position:44.82759% 14.28571%}
a[href$="#confetti_ball"]{background-position:44.82759% 17.85714%}
a[href$="#tanabata_tree"]{background-position:44.82759% 21.42857%}
a[href$="#crossed_flags"]{background-position:44.82759% 25%}
a[href$="#bamboo"]{background-position:44.82759% 28.57143%}
a[href$="#dolls"]{background-position:44.82759% 32.14286%}
a[href$="#flags"]{background-position:44.82759% 35.71429%}
a[href$="#wind_chime"]{background-position:44.82759% 39.28571%}
a[href$="#rice_scene"]{background-position:44.82759% 42.85714%}
a[href$="#school_satchel"]{background-position:0% 46.42857%}
a[href$="#mortar_board"]{background-position:3.44828% 46.42857%}
a[href$="#carousel_horse"]{background-position:6.89655% 46.42857%}
a[href$="#ferris_wheel"]{background-position:10.34483% 46.42857%}
a[href$="#roller_coaster"]{background-position:13.7931% 46.42857%}
a[href$="#fishing_pole_and_fish"]{background-position:17.24138% 46.42857%}
a[href$="#microphone"]{background-position:20.68966% 46.42857%}
a[href$="#movie_camera"]{background-position:24.13793% 46.42857%}
a[href$="#cinema"]{background-position:27.58621% 46.42857%}
a[href$="#headphones"]{background-position:31.03448% 46.42857%}
a[href$="#art"]{background-position:34.48276% 46.42857%}
a[href$="#tophat"]{background-position:37.93103% 46.42857%}
a[href$="#circus_tent"]{background-position:41.37931% 46.42857%}
a[href$="#ticket"]{background-position:44.82759% 46.42857%}
a[href$="#clapper"]{background-position:48.27586% 0%}
a[href$="#performing_arts"]{background-position:48.27586% 3.57143%}
a[href$="#video_game"]{background-position:48.27586% 7.14286%}
a[href$="#dart"]{background-position:48.27586% 10.71429%}
a[href$="#slot_machine"]{background-position:48.27586% 14.28571%}
a[href$="#8ball"]{background-position:48.27586% 17.85714%}
a[href$="#game_die"]{background-position:48.27586% 21.42857%}
a[href$="#bowling"]{background-position:48.27586% 25%}
a[href$="#flower_playing_cards"]{background-position:48.27586% 28.57143%}
a[href$="#musical_note"]{background-position:48.27586% 32.14286%}
a[href$="#notes"]{background-position:48.27586% 35.71429%}
a[href$="#saxophone"]{background-position:48.27586% 39.28571%}
a[href$="#guitar"]{background-position:48.27586% 42.85714%}
a[href$="#musical_keyboard"]{background-position:48.27586% 46.42857%}
a[href$="#trumpet"]{background-position:0% 50%}
a[href$="#violin"]{background-position:3.44828% 50%}
a[href$="#musical_score"]{background-position:6.89655% 50%}
a[href$="#running_shirt_with_sash"]{background-position:10.34483% 50%}
a[href$="#tennis"]{background-position:13.7931% 50%}
a[href$="#ski"]{background-position:17.24138% 50%}
a[href$="#basketball"]{background-position:20.68966% 50%}
a[href$="#checkered_flag"]{background-position:24.13793% 50%}
a[href$="#snowboarder"]{background-position:27.58621% 50%}
a[href$="#runner"]{background-position:31.03448% 50%}
a[href$="#surfer"]{background-position:34.48276% 50%}
a[href$="#trophy"]{background-position:37.93103% 50%}
a[href$="#horse_racing"]{background-position:41.37931% 50%}
a[href$="#football"]{background-position:44.82759% 50%}
a[href$="#rugby_football"]{background-position:48.27586% 50%}
a[href$="#swimmer"]{background-position:51.72414% 0%}
a[href$="#house"]{background-position:51.72414% 3.57143%}
a[href$="#house_with_garden"]{background-position:51.72414% 7.14286%}
a[href$="#office"]{background-position:51.72414% 10.71429%}
a[href$="#post_office"]{background-position:51.72414% 14.28571%}
a[href$="#european_post_office"]{background-position:51.72414% 17.85714%}
a[href$="#hospital"]{background-position:51.72414% 21.42857%}
a[href$="#bank"]{background-position:51.72414% 25%}
a[href$="#atm"]{background-position:51.72414% 28.57143%}
a[href$="#hotel"]{background-position:51.72414% 32.14286%}
a[href$="#love_hotel"]{background-position:51.72414% 35.71429%}
a[href$="#convenience_store"]{background-position:51.72414% 39.28571%}
a[href$="#school"]{background-position:51.72414% 42.85714%}
a[href$="#department_store"]{background-position:51.72414% 46.42857%}
a[href$="#factory"]{background-position:51.72414% 50%}
a[href$="#izakaya_lantern"]{background-position:0% 53.57143%}
a[href$="#japanese_castle"]{background-position:3.44828% 53.57143%}
a[href$="#european_castle"]{background-position:6.89655% 53.57143%}
a[href$="#rat"]{background-position:10.34483% 53.57143%}
a[href$="#mouse2"]{background-position:13.7931% 53.57143%}
a[href$="#ox"]{background-position:17.24138% 53.57143%}
a[href$="#water_buffalo"]{background-position:20.68966% 53.57143%}
a[href$="#cow2"]{background-position:24.13793% 53.57143%}
a[href$="#tiger2"]{background-position:27.58621% 53.57143%}
a[href$="#leopard"]{background-position:31.03448% 53.57143%}
a[href$="#rabbit2"]{background-position:34.48276% 53.57143%}
a[href$="#cat2"]{background-position:37.93103% 53.57143%}
a[href$="#dragon"]{background-position:41.37931% 53.57143%}
a[href$="#crocodile"]{background-position:44.82759% 53.57143%}
a[href$="#whale2"]{background-position:48.27586% 53.57143%}
a[href$="#snail"]{background-position:51.72414% 53.57143%}
a[href$="#snake"]{background-position:55.17241% 0%}
a[href$="#racehorse"]{background-position:55.17241% 3.57143%}
a[href$="#ram"]{background-position:55.17241% 7.14286%}
a[href$="#goat"]{background-position:55.17241% 10.71429%}
a[href$="#sheep"]{background-position:55.17241% 14.28571%}
a[href$="#monkey"]{background-position:55.17241% 17.85714%}
a[href$="#rooster"]{background-position:55.17241% 21.42857%}
a[href$="#chicken"]{background-position:55.17241% 25%}
a[href$="#dog2"]{background-position:55.17241% 28.57143%}
a[href$="#pig2"]{background-position:55.17241% 32.14286%}
a[href$="#boar"]{background-position:55.17241% 35.71429%}
a[href$="#elephant"]{background-position:55.17241% 39.28571%}
a[href$="#octopus"]{background-position:55.17241% 42.85714%}
a[href$="#shell"]{background-position:55.17241% 46.42857%}
a[href$="#bug"]{background-position:55.17241% 50%}
a[href$="#ant"]{background-position:55.17241% 53.57143%}
a[href$="#bee"]{background-position:0% 57.14286%}
a[href$="#beetle"]{background-position:3.44828% 57.14286%}
a[href$="#fish"]{background-position:6.89655% 57.14286%}
a[href$="#tropical_fish"]{background-position:10.34483% 57.14286%}
a[href$="#blowfish"]{background-position:13.7931% 57.14286%}
a[href$="#turtle"]{background-position:17.24138% 57.14286%}
a[href$="#hatching_chick"]{background-position:20.68966% 57.14286%}
a[href$="#baby_chick"]{background-position:24.13793% 57.14286%}
a[href$="#hatched_chick"]{background-position:27.58621% 57.14286%}
a[href$="#bird"]{background-position:31.03448% 57.14286%}
a[href$="#penguin"]{background-position:34.48276% 57.14286%}
a[href$="#koala"]{background-position:37.93103% 57.14286%}
a[href$="#poodle"]{background-position:41.37931% 57.14286%}
a[href$="#dromedary_camel"]{background-position:44.82759% 57.14286%}
a[href$="#camel"]{background-position:48.27586% 57.14286%}
a[href$="#dolphin"]{background-position:51.72414% 57.14286%}
a[href$="#mouse"]{background-position:55.17241% 57.14286%}
a[href$="#cow"]{background-position:58.62069% 0%}
a[href$="#tiger"]{background-position:58.62069% 3.57143%}
a[href$="#rabbit"]{background-position:58.62069% 7.14286%}
a[href$="#cat"]{background-position:58.62069% 10.71429%}
a[href$="#dragon_face"]{background-position:58.62069% 14.28571%}
a[href$="#whale"]{background-position:58.62069% 17.85714%}
a[href$="#horse"]{background-position:58.62069% 21.42857%}
a[href$="#monkey_face"]{background-position:58.62069% 25%}
a[href$="#dog"]{background-position:58.62069% 28.57143%}
a[href$="#pig"]{background-position:58.62069% 32.14286%}
a[href$="#frog"]{background-position:58.62069% 35.71429%}
a[href$="#hamster"]{background-position:58.62069% 39.28571%}
a[href$="#wolf"]{background-position:58.62069% 42.85714%}
a[href$="#bear"]{background-position:58.62069% 46.42857%}
a[href$="#panda_face"]{background-position:58.62069% 50%}
a[href$="#pig_nose"]{background-position:58.62069% 53.57143%}
a[href$="#feet"]{background-position:58.62069% 57.14286%}
a[href$="#eyes"]{background-position:0% 60.71429%}
a[href$="#ear"]{background-position:3.44828% 60.71429%}
a[href$="#nose"]{background-position:6.89655% 60.71429%}
a[href$="#lips"]{background-position:10.34483% 60.71429%}
a[href$="#tongue"]{background-position:13.7931% 60.71429%}
a[href$="#point_up_2"]{background-position:17.24138% 60.71429%}
a[href$="#point_down"]{background-position:20.68966% 60.71429%}
a[href$="#point_left"]{background-position:24.13793% 60.71429%}
a[href$="#point_right"]{background-position:27.58621% 60.71429%}
a[href$="#punch"]{background-position:31.03448% 60.71429%}
a[href$="#wave"]{background-position:34.48276% 60.71429%}
a[href$="#ok_hand"]{background-position:37.93103% 60.71429%}
a[href$="#thumbsup"]{background-position:41.37931% 60.71429%}
a[href$="#+1"]{background-position:41.37931% 60.71429%}
a[href$="#thumbsdown"]{background-position:44.82759% 60.71429%}
a[href$="#-1"]{background-position:44.82759% 60.71429%}
a[href$="#clap"]{background-position:48.27586% 60.71429%}
a[href$="#open_hands"]{background-position:51.72414% 60.71429%}
a[href$="#crown"]{background-position:55.17241% 60.71429%}
a[href$="#womans_hat"]{background-position:58.62069% 60.71429%}
a[href$="#eyeglasses"]{background-position:62.06897% 0%}
a[href$="#necktie"]{background-position:62.06897% 3.57143%}
a[href$="#shirt"]{background-position:62.06897% 7.14286%}
a[href$="#jeans"]{background-position:62.06897% 10.71429%}
a[href$="#dress"]{background-position:62.06897% 14.28571%}
a[href$="#kimono"]{background-position:62.06897% 17.85714%}
a[href$="#bikini"]{background-position:62.06897% 21.42857%}
a[href$="#womans_clothes"]{background-position:62.06897% 25%}
a[href$="#purse"]{background-position:62.06897% 28.57143%}
a[href$="#handbag"]{background-position:62.06897% 32.14286%}
a[href$="#pouch"]{background-position:62.06897% 35.71429%}
a[href$="#mans_shoe"]{background-position:62.06897% 39.28571%}
a[href$="#athletic_shoe"]{background-position:62.06897% 42.85714%}
a[href$="#high_heel"]{background-position:62.06897% 46.42857%}
a[href$="#sandal"]{background-position:62.06897% 50%}
a[href$="#boot"]{background-position:62.06897% 53.57143%}
a[href$="#footprints"]{background-position:62.06897% 57.14286%}
a[href$="#bust_in_silhouette"]{background-position:62.06897% 60.71429%}
a[href$="#busts_in_silhouette"]{background-position:0% 64.28571%}
a[href$="#boy"]{background-position:3.44828% 64.28571%}
a[href$="#girl"]{background-position:6.89655% 64.28571%}
a[href$="#man"]{background-position:10.34483% 64.28571%}
a[href$="#woman"]{background-position:13.7931% 64.28571%}
a[href$="#family"]{background-position:17.24138% 64.28571%}
a[href$="#couple"]{background-position:20.68966% 64.28571%}
a[href$="#two_men_holding_hands"]{background-position:24.13793% 64.28571%}
a[href$="#two_women_holding_hands"]{background-position:27.58621% 64.28571%}
a[href$="#cop"]{background-position:31.03448% 64.28571%}
a[href$="#dancers"]{background-position:34.48276% 64.28571%}
a[href$="#bride_with_veil"]{background-position:37.93103% 64.28571%}
a[href$="#person_with_blond_hair"]{background-position:41.37931% 64.28571%}
a[href$="#man_with_gua_pi_mao"]{background-position:44.82759% 64.28571%}
a[href$="#man_with_turban"]{background-position:48.27586% 64.28571%}
a[href$="#older_man"]{background-position:51.72414% 64.28571%}
a[href$="#older_woman"]{background-position:55.17241% 64.28571%}
a[href$="#grandma"]{background-position:55.17241% 64.28571%}
a[href$="#baby"]{background-position:58.62069% 64.28571%}
a[href$="#construction_worker"]{background-position:62.06897% 64.28571%}
a[href$="#princess"]{background-position:65.51724% 0%}
a[href$="#japanese_ogre"]{background-position:65.51724% 3.57143%}
a[href$="#japanese_goblin"]{background-position:65.51724% 7.14286%}
a[href$="#ghost"]{background-position:65.51724% 10.71429%}
a[href$="#angel"]{background-position:65.51724% 14.28571%}
a[href$="#alien"]{background-position:65.51724% 17.85714%}
a[href$="#space_invader"]{background-position:65.51724% 21.42857%}
a[href$="#imp"]{background-position:65.51724% 25%}
a[href$="#skull"]{background-position:65.51724% 28.57143%}
a[href$="#skeleton"]{background-position:65.51724% 28.57143%}
a[href$="#information_desk_person"]{background-position:65.51724% 32.14286%}
a[href$="#guardsman"]{background-position:65.51724% 35.71429%}
a[href$="#dancer"]{background-position:65.51724% 39.28571%}
a[href$="#lipstick"]{background-position:65.51724% 42.85714%}
a[href$="#nail_care"]{background-position:65.51724% 46.42857%}
a[href$="#massage"]{background-position:65.51724% 50%}
a[href$="#haircut"]{background-position:65.51724% 53.57143%}
a[href$="#barber"]{background-position:65.51724% 57.14286%}
a[href$="#syringe"]{background-position:65.51724% 60.71429%}
a[href$="#pill"]{background-position:65.51724% 64.28571%}
a[href$="#kiss"]{background-position:0% 67.85714%}
a[href$="#love_letter"]{background-position:3.44828% 67.85714%}
a[href$="#ring"]{background-position:6.89655% 67.85714%}
a[href$="#gem"]{background-position:10.34483% 67.85714%}
a[href$="#couplekiss"]{background-position:13.7931% 67.85714%}
a[href$="#bouquet"]{background-position:17.24138% 67.85714%}
a[href$="#couple_with_heart"]{background-position:20.68966% 67.85714%}
a[href$="#wedding"]{background-position:24.13793% 67.85714%}
a[href$="#heartbeat"]{background-position:27.58621% 67.85714%}
a[href$="#broken_heart"]{background-position:31.03448% 67.85714%}
a[href$="#two_hearts"]{background-position:34.48276% 67.85714%}
a[href$="#sparkling_heart"]{background-position:37.93103% 67.85714%}
a[href$="#heartpulse"]{background-position:41.37931% 67.85714%}
a[href$="#cupid"]{background-position:44.82759% 67.85714%}
a[href$="#blue_heart"]{background-position:48.27586% 67.85714%}
a[href$="#green_heart"]{background-position:51.72414% 67.85714%}
a[href$="#yellow_heart"]{background-position:55.17241% 67.85714%}
a[href$="#purple_heart"]{background-position:58.62069% 67.85714%}
a[href$="#gift_heart"]{background-position:62.06897% 67.85714%}
a[href$="#revolving_hearts"]{background-position:65.51724% 67.85714%}
a[href$="#heart_decoration"]{background-position:68.96552% 0%}
a[href$="#diamond_shape_with_a_dot_inside"]{background-position:68.96552% 3.57143%}
a[href$="#bulb"]{background-position:68.96552% 7.14286%}
a[href$="#anger"]{background-position:68.96552% 10.71429%}
a[href$="#bomb"]{background-position:68.96552% 14.28571%}
a[href$="#zzz"]{background-position:68.96552% 17.85714%}
a[href$="#boom"]{background-position:68.96552% 21.42857%}
a[href$="#sweat_drops"]{background-position:68.96552% 25%}
a[href$="#droplet"]{background-position:68.96552% 28.57143%}
a[href$="#dash"]{background-position:68.96552% 32.14286%}
a[href$="#poop"]{background-position:68.96552% 35.71429%}
a[href$="#shit"]{background-position:68.96552% 35.71429%}
a[href$="#hankey"]{background-position:68.96552% 35.71429%}
a[href$="#poo"]{background-position:68.96552% 35.71429%}
a[href$="#muscle"]{background-position:68.96552% 39.28571%}
a[href$="#dizzy"]{background-position:68.96552% 42.85714%}
a[href$="#speech_balloon"]{background-position:68.96552% 46.42857%}
a[href$="#thought_balloon"]{background-position:68.96552% 50%}
a[href$="#white_flower"]{background-position:68.96552% 53.57143%}
a[href$="#100"]{background-position:68.96552% 57.14286%}
a[href$="#moneybag"]{background-position:68.96552% 60.71429%}
a[href$="#currency_exchange"]{background-position:68.96552% 64.28571%}
a[href$="#heavy_dollar_sign"]{background-position:68.96552% 67.85714%}
a[href$="#credit_card"]{background-position:0% 71.42857%}
a[href$="#yen"]{background-position:3.44828% 71.42857%}
a[href$="#dollar"]{background-position:0% 0%}
a[href$="#euro"]{background-position:10.34483% 71.42857%}
a[href$="#pound"]{background-position:13.7931% 71.42857%}
a[href$="#money_with_wings"]{background-position:17.24138% 71.42857%}
a[href$="#chart"]{background-position:20.68966% 71.42857%}
a[href$="#seat"]{background-position:24.13793% 71.42857%}
a[href$="#computer"]{background-position:27.58621% 71.42857%}
a[href$="#briefcase"]{background-position:31.03448% 71.42857%}
a[href$="#minidisc"]{background-position:34.48276% 71.42857%}
a[href$="#floppy_disk"]{background-position:37.93103% 71.42857%}
a[href$="#cd"]{background-position:41.37931% 71.42857%}
a[href$="#dvd"]{background-position:44.82759% 71.42857%}
a[href$="#file_folder"]{background-position:48.27586% 71.42857%}
a[href$="#open_file_folder"]{background-position:51.72414% 71.42857%}
a[href$="#page_with_curl"]{background-position:55.17241% 71.42857%}
a[href$="#page_facing_up"]{background-position:58.62069% 71.42857%}
a[href$="#date"]{background-position:62.06897% 71.42857%}
a[href$="#calendar"]{background-position:65.51724% 71.42857%}
a[href$="#card_index"]{background-position:68.96552% 71.42857%}
a[href$="#chart_with_upwards_trend"]{background-position:72.41379% 0%}
a[href$="#chart_with_downwards_trend"]{background-position:72.41379% 3.57143%}
a[href$="#bar_chart"]{background-position:72.41379% 7.14286%}
a[href$="#clipboard"]{background-position:72.41379% 10.71429%}
a[href$="#pushpin"]{background-position:72.41379% 14.28571%}
a[href$="#round_pushpin"]{background-position:72.41379% 17.85714%}
a[href$="#paperclip"]{background-position:72.41379% 21.42857%}
a[href$="#straight_ruler"]{background-position:72.41379% 25%}
a[href$="#triangular_ruler"]{background-position:72.41379% 28.57143%}
a[href$="#bookmark_tabs"]{background-position:72.41379% 32.14286%}
a[href$="#ledger"]{background-position:72.41379% 35.71429%}
a[href$="#notebook"]{background-position:72.41379% 39.28571%}
a[href$="#notebook_with_decorative_cover"]{background-position:72.41379% 42.85714%}
a[href$="#closed_book"]{background-position:72.41379% 46.42857%}
a[href$="#book"]{background-position:72.41379% 50%}
a[href$="#green_book"]{background-position:72.41379% 53.57143%}
a[href$="#blue_book"]{background-position:72.41379% 57.14286%}
a[href$="#orange_book"]{background-position:72.41379% 60.71429%}
a[href$="#books"]{background-position:72.41379% 64.28571%}
a[href$="#name_badge"]{background-position:72.41379% 67.85714%}
a[href$="#scroll"]{background-position:72.41379% 71.42857%}
a[href$="#pencil"]{background-position:0% 75%}
a[href$="#telephone_receiver"]{background-position:3.44828% 75%}
a[href$="#pager"]{background-position:6.89655% 75%}
a[href$="#fax"]{background-position:10.34483% 75%}
a[href$="#satellite"]{background-position:13.7931% 75%}
a[href$="#loudspeaker"]{background-position:17.24138% 75%}
a[href$="#mega"]{background-position:20.68966% 75%}
a[href$="#outbox_tray"]{background-position:24.13793% 75%}
a[href$="#inbox_tray"]{background-position:27.58621% 75%}
a[href$="#package"]{background-position:31.03448% 75%}
a[href$="#e-mail"]{background-position:34.48276% 75%}
a[href$="#email"]{background-position:34.48276% 75%}
a[href$="#incoming_envelope"]{background-position:37.93103% 75%}
a[href$="#envelope_with_arrow"]{background-position:41.37931% 75%}
a[href$="#mailbox_closed"]{background-position:44.82759% 75%}
a[href$="#mailbox"]{background-position:48.27586% 75%}
a[href$="#mailbox_with_mail"]{background-position:51.72414% 75%}
a[href$="#mailbox_with_no_mail"]{background-position:55.17241% 75%}
a[href$="#postbox"]{background-position:58.62069% 75%}
a[href$="#postal_horn"]{background-position:62.06897% 75%}
a[href$="#newspaper"]{background-position:65.51724% 75%}
a[href$="#iphone"]{background-position:68.96552% 75%}
a[href$="#calling"]{background-position:72.41379% 75%}
a[href$="#vibration_mode"]{background-position:75.86207% 0%}
a[href$="#mobile_phone_off"]{background-position:75.86207% 3.57143%}
a[href$="#no_mobile_phones"]{background-position:75.86207% 7.14286%}
a[href$="#signal_strength"]{background-position:75.86207% 10.71429%}
a[href$="#camera"]{background-position:75.86207% 14.28571%}
a[href$="#video_camera"]{background-position:75.86207% 17.85714%}
a[href$="#tv"]{background-position:75.86207% 21.42857%}
a[href$="#radio"]{background-position:75.86207% 25%}
a[href$="#vhs"]{background-position:75.86207% 28.57143%}
a[href$="#twisted_rightwards_arrows"]{background-position:75.86207% 32.14286%}
a[href$="#repeat"]{background-position:75.86207% 35.71429%}
a[href$="#repeat_one"]{background-position:75.86207% 39.28571%}
a[href$="#arrows_clockwise"]{background-position:75.86207% 42.85714%}
a[href$="#arrows_counterclockwise"]{background-position:75.86207% 46.42857%}
a[href$="#low_brightness"]{background-position:75.86207% 50%}
a[href$="#high_brightness"]{background-position:75.86207% 53.57143%}
a[href$="#mute"]{background-position:75.86207% 57.14286%}
a[href$="#speaker"]{background-position:75.86207% 60.71429%}
a[href$="#sound"]{background-position:75.86207% 64.28571%}
a[href$="#loud_sound"]{background-position:75.86207% 67.85714%}
a[href$="#battery"]{background-position:75.86207% 71.42857%}
a[href$="#electric_plug"]{background-position:75.86207% 75%}
a[href$="#mag"]{background-position:0% 78.57143%}
a[href$="#mag_right"]{background-position:3.44828% 78.57143%}
a[href$="#lock_with_ink_pen"]{background-position:6.89655% 78.57143%}
a[href$="#closed_lock_with_key"]{background-position:10.34483% 78.57143%}
a[href$="#key"]{background-position:13.7931% 78.57143%}
a[href$="#lock"]{background-position:17.24138% 78.57143%}
a[href$="#unlock"]{background-position:20.68966% 78.57143%}
a[href$="#bell"]{background-position:24.13793% 78.57143%}
a[href$="#no_bell"]{background-position:27.58621% 78.57143%}
a[href$="#bookmark"]{background-position:31.03448% 78.57143%}
a[href$="#link"]{background-position:34.48276% 78.57143%}
a[href$="#radio_button"]{background-position:37.93103% 78.57143%}
a[href$="#back"]{background-position:41.37931% 78.57143%}
a[href$="#end"]{background-position:44.82759% 78.57143%}
a[href$="#on"]{background-position:48.27586% 78.57143%}
a[href$="#soon"]{background-position:51.72414% 78.57143%}
a[href$="#top"]{background-position:55.17241% 78.57143%}
a[href$="#underage"]{background-position:58.62069% 78.57143%}
a[href$="#keycap_ten"]{background-position:62.06897% 78.57143%}
a[href$="#capital_abcd"]{background-position:65.51724% 78.57143%}
a[href$="#abcd"]{background-position:68.96552% 78.57143%}
a[href$="#1234"]{background-position:72.41379% 78.57143%}
a[href$="#symbols"]{background-position:75.86207% 78.57143%}
a[href$="#abc"]{background-position:79.31034% 0%}
a[href$="#fire"]{background-position:79.31034% 3.57143%}
a[href$="#flame"]{background-position:79.31034% 3.57143%}
a[href$="#flashlight"]{background-position:79.31034% 7.14286%}
a[href$="#wrench"]{background-position:79.31034% 10.71429%}
a[href$="#hammer"]{background-position:79.31034% 14.28571%}
a[href$="#nut_and_bolt"]{background-position:79.31034% 17.85714%}
a[href$="#knife"]{background-position:79.31034% 21.42857%}
a[href$="#gun"]{background-position:79.31034% 25%}
a[href$="#microscope"]{background-position:79.31034% 28.57143%}
a[href$="#telescope"]{background-position:79.31034% 32.14286%}
a[href$="#crystal_ball"]{background-position:79.31034% 35.71429%}
a[href$="#six_pointed_star"]{background-position:79.31034% 39.28571%}
a[href$="#beginner"]{background-position:79.31034% 42.85714%}
a[href$="#trident"]{background-position:79.31034% 46.42857%}
a[href$="#black_square_button"]{background-position:79.31034% 50%}
a[href$="#white_square_button"]{background-position:79.31034% 53.57143%}
a[href$="#red_circle"]{background-position:79.31034% 57.14286%}
a[href$="#large_blue_circle"]{background-position:79.31034% 60.71429%}
a[href$="#large_orange_diamond"]{background-position:79.31034% 64.28571%}
a[href$="#large_blue_diamond"]{background-position:79.31034% 67.85714%}
a[href$="#small_orange_diamond"]{background-position:79.31034% 71.42857%}
a[href$="#small_blue_diamond"]{background-position:79.31034% 75%}
a[href$="#small_red_triangle"]{background-position:79.31034% 78.57143%}
a[href$="#small_red_triangle_down"]{background-position:0% 82.14286%}
a[href$="#arrow_up_small"]{background-position:3.44828% 82.14286%}
a[href$="#arrow_down_small"]{background-position:6.89655% 82.14286%}
a[href$="#clock1"]{background-position:10.34483% 82.14286%}
a[href$="#clock2"]{background-position:13.7931% 82.14286%}
a[href$="#clock3"]{background-position:17.24138% 82.14286%}
a[href$="#clock4"]{background-position:20.68966% 82.14286%}
a[href$="#clock5"]{background-position:24.13793% 82.14286%}
a[href$="#clock6"]{background-position:27.58621% 82.14286%}
a[href$="#clock7"]{background-position:31.03448% 82.14286%}
a[href$="#clock8"]{background-position:34.48276% 82.14286%}
a[href$="#clock9"]{background-position:37.93103% 82.14286%}
a[href$="#clock10"]{background-position:41.37931% 82.14286%}
a[href$="#clock11"]{background-position:44.82759% 82.14286%}
a[href$="#clock12"]{background-position:48.27586% 82.14286%}
a[href$="#clock130"]{background-position:51.72414% 82.14286%}
a[href$="#clock230"]{background-position:55.17241% 82.14286%}
a[href$="#clock330"]{background-position:58.62069% 82.14286%}
a[href$="#clock430"]{background-position:62.06897% 82.14286%}
a[href$="#clock530"]{background-position:65.51724% 82.14286%}
a[href$="#clock630"]{background-position:68.96552% 82.14286%}
a[href$="#clock730"]{background-position:72.41379% 82.14286%}
a[href$="#clock830"]{background-position:75.86207% 82.14286%}
a[href$="#clock930"]{background-position:79.31034% 82.14286%}
a[href$="#clock1030"]{background-position:82.75862% 0%}
a[href$="#clock1130"]{background-position:82.75862% 3.57143%}
a[href$="#clock1230"]{background-position:82.75862% 7.14286%}
a[href$="#mount_fuji"]{background-position:82.75862% 10.71429%}
a[href$="#tokyo_tower"]{background-position:82.75862% 14.28571%}
a[href$="#statue_of_liberty"]{background-position:82.75862% 17.85714%}
a[href$="#japan"]{background-position:82.75862% 21.42857%}
a[href$="#moyai"]{background-position:82.75862% 25%}
a[href$="#grinning"]{background-position:82.75862% 28.57143%}
a[href$="#grin"]{background-position:82.75862% 32.14286%}
a[href$="#joy"]{background-position:82.75862% 35.71429%}
a[href$="#smiley"]{background-position:82.75862% 39.28571%}
a[href$="#smile"]{background-position:82.75862% 42.85714%}
a[href$="#sweat_smile"]{background-position:82.75862% 46.42857%}
a[href$="#laughing"]{background-position:82.75862% 50%}
a[href$="#satisfied"]{background-position:82.75862% 50%}
a[href$="#innocent"]{background-position:82.75862% 53.57143%}
a[href$="#smiling_imp"]{background-position:82.75862% 57.14286%}
a[href$="#wink"]{background-position:82.75862% 60.71429%}
a[href$="#blush"]{background-position:82.75862% 64.28571%}
a[href$="#yum"]{background-position:82.75862% 67.85714%}
a[href$="#relieved"]{background-position:82.75862% 71.42857%}
a[href$="#heart_eyes"]{background-position:82.75862% 75%}
a[href$="#sunglasses"]{background-position:82.75862% 78.57143%}
a[href$="#smirk"]{background-position:82.75862% 82.14286%}
a[href$="#neutral_face"]{background-position:0% 85.71429%}
a[href$="#expressionless"]{background-position:3.44828% 85.71429%}
a[href$="#unamused"]{background-position:6.89655% 85.71429%}
a[href$="#sweat"]{background-position:10.34483% 85.71429%}
a[href$="#pensive"]{background-position:13.7931% 85.71429%}
a[href$="#confused"]{background-position:17.24138% 85.71429%}
a[href$="#confounded"]{background-position:20.68966% 85.71429%}
a[href$="#kissing"]{background-position:24.13793% 85.71429%}
a[href$="#kissing_heart"]{background-position:27.58621% 85.71429%}
a[href$="#kissing_smiling_eyes"]{background-position:31.03448% 85.71429%}
a[href$="#kissing_closed_eyes"]{background-position:34.48276% 85.71429%}
a[href$="#stuck_out_tongue"]{background-position:37.93103% 85.71429%}
a[href$="#stuck_out_tongue_winking_eye"]{background-position:41.37931% 85.71429%}
a[href$="#stuck_out_tongue_closed_eyes"]{background-position:44.82759% 85.71429%}
a[href$="#disappointed"]{background-position:48.27586% 85.71429%}
a[href$="#worried"]{background-position:51.72414% 85.71429%}
a[href$="#angry"]{background-position:55.17241% 85.71429%}
a[href$="#rage"]{background-position:58.62069% 85.71429%}
a[href$="#cry"]{background-position:62.06897% 85.71429%}
a[href$="#persevere"]{background-position:65.51724% 85.71429%}
a[href$="#triumph"]{background-position:68.96552% 85.71429%}
a[href$="#disappointed_relieved"]{background-position:72.41379% 85.71429%}
a[href$="#frowning"]{background-position:75.86207% 85.71429%}
a[href$="#anguished"]{background-position:75.86207% 85.71429%}
a[href$="#anguished"]{background-position:79.31034% 85.71429%}
a[href$="#fearful"]{background-position:82.75862% 85.71429%}
a[href$="#weary"]{background-position:86.2069% 0%}
a[href$="#sleepy"]{background-position:86.2069% 3.57143%}
a[href$="#tired_face"]{background-position:86.2069% 7.14286%}
a[href$="#grimacing"]{background-position:86.2069% 10.71429%}
a[href$="#sob"]{background-position:86.2069% 14.28571%}
a[href$="#open_mouth"]{background-position:86.2069% 17.85714%}
a[href$="#hushed"]{background-position:86.2069% 21.42857%}
a[href$="#cold_sweat"]{background-position:86.2069% 25%}
a[href$="#scream"]{background-position:86.2069% 28.57143%}
a[href$="#astonished"]{background-position:86.2069% 32.14286%}
a[href$="#flushed"]{background-position:86.2069% 35.71429%}
a[href$="#sleeping"]{background-position:86.2069% 39.28571%}
a[href$="#dizzy_face"]{background-position:86.2069% 42.85714%}
a[href$="#no_mouth"]{background-position:86.2069% 46.42857%}
a[href$="#mask"]{background-position:86.2069% 50%}
a[href$="#smile_cat"]{background-position:86.2069% 53.57143%}
a[href$="#joy_cat"]{background-position:86.2069% 57.14286%}
a[href$="#smiley_cat"]{background-position:86.2069% 60.71429%}
a[href$="#heart_eyes_cat"]{background-position:86.2069% 64.28571%}
a[href$="#smirk_cat"]{background-position:86.2069% 67.85714%}
a[href$="#kissing_cat"]{background-position:86.2069% 71.42857%}
a[href$="#pouting_cat"]{background-position:86.2069% 75%}
a[href$="#crying_cat_face"]{background-position:86.2069% 78.57143%}
a[href$="#scream_cat"]{background-position:86.2069% 82.14286%}
a[href$="#no_good"]{background-position:86.2069% 85.71429%}
a[href$="#ok_woman"]{background-position:0% 89.28571%}
a[href$="#bow"]{background-position:3.44828% 89.28571%}
a[href$="#see_no_evil"]{background-position:6.89655% 89.28571%}
a[href$="#hear_no_evil"]{background-position:10.34483% 89.28571%}
a[href$="#speak_no_evil"]{background-position:13.7931% 89.28571%}
a[href$="#raising_hand"]{background-position:17.24138% 89.28571%}
a[href$="#raised_hands"]{background-position:20.68966% 89.28571%}
a[href$="#person_frowning"]{background-position:24.13793% 89.28571%}
a[href$="#person_with_pouting_face"]{background-position:27.58621% 89.28571%}
a[href$="#pray"]{background-position:31.03448% 89.28571%}
a[href$="#rocket"]{background-position:34.48276% 89.28571%}
a[href$="#helicopter"]{background-position:37.93103% 89.28571%}
a[href$="#steam_locomotive"]{background-position:41.37931% 89.28571%}
a[href$="#railway_car"]{background-position:44.82759% 89.28571%}
a[href$="#bullettrain_side"]{background-position:48.27586% 89.28571%}
a[href$="#bullettrain_front"]{background-position:51.72414% 89.28571%}
a[href$="#train2"]{background-position:55.17241% 89.28571%}
a[href$="#metro"]{background-position:58.62069% 89.28571%}
a[href$="#light_rail"]{background-position:62.06897% 89.28571%}
a[href$="#station"]{background-position:65.51724% 89.28571%}
a[href$="#tram"]{background-position:68.96552% 89.28571%}
a[href$="#train"]{background-position:72.41379% 89.28571%}
a[href$="#bus"]{background-position:75.86207% 89.28571%}
a[href$="#oncoming_bus"]{background-position:79.31034% 89.28571%}
a[href$="#trolleybus"]{background-position:82.75862% 89.28571%}
a[href$="#busstop"]{background-position:86.2069% 89.28571%}
a[href$="#minibus"]{background-position:89.65517% 0%}
a[href$="#ambulance"]{background-position:89.65517% 3.57143%}
a[href$="#fire_engine"]{background-position:89.65517% 7.14286%}
a[href$="#police_car"]{background-position:89.65517% 10.71429%}
a[href$="#oncoming_police_car"]{background-position:89.65517% 14.28571%}
a[href$="#taxi"]{background-position:89.65517% 17.85714%}
a[href$="#oncoming_taxi"]{background-position:89.65517% 21.42857%}
a[href$="#red_car"]{background-position:89.65517% 25%}
a[href$="#oncoming_automobile"]{background-position:89.65517% 28.57143%}
a[href$="#blue_car"]{background-position:89.65517% 32.14286%}
a[href$="#truck"]{background-position:89.65517% 35.71429%}
a[href$="#articulated_lorry"]{background-position:89.65517% 39.28571%}
a[href$="#tractor"]{background-position:89.65517% 42.85714%}
a[href$="#monorail"]{background-position:89.65517% 46.42857%}
a[href$="#mountain_railway"]{background-position:89.65517% 50%}
a[href$="#suspension_railway"]{background-position:89.65517% 53.57143%}
a[href$="#mountain_cableway"]{background-position:89.65517% 57.14286%}
a[href$="#aerial_tramway"]{background-position:89.65517% 60.71429%}
a[href$="#ship"]{background-position:89.65517% 64.28571%}
a[href$="#rowboat"]{background-position:89.65517% 67.85714%}
a[href$="#speedboat"]{background-position:89.65517% 71.42857%}
a[href$="#traffic_light"]{background-position:89.65517% 75%}
a[href$="#vertical_traffic_light"]{background-position:89.65517% 78.57143%}
a[href$="#construction"]{background-position:89.65517% 82.14286%}
a[href$="#rotating_light"]{background-position:89.65517% 85.71429%}
a[href$="#triangular_flag_on_post"]{background-position:89.65517% 89.28571%}
a[href$="#door"]{background-position:0% 92.85714%}
a[href$="#no_entry_sign"]{background-position:3.44828% 92.85714%}
a[href$="#smoking"]{background-position:6.89655% 92.85714%}
a[href$="#no_smoking"]{background-position:10.34483% 92.85714%}
a[href$="#put_litter_in_its_place"]{background-position:13.7931% 92.85714%}
a[href$="#do_not_litter"]{background-position:17.24138% 92.85714%}
a[href$="#potable_water"]{background-position:20.68966% 92.85714%}
a[href$="#non-potable_water"]{background-position:24.13793% 92.85714%}
a[href$="#bike"]{background-position:27.58621% 92.85714%}
a[href$="#no_bicycles"]{background-position:31.03448% 92.85714%}
a[href$="#bicyclist"]{background-position:34.48276% 92.85714%}
a[href$="#mountain_bicyclist"]{background-position:37.93103% 92.85714%}
a[href$="#walking"]{background-position:41.37931% 92.85714%}
a[href$="#no_pedestrians"]{background-position:44.82759% 92.85714%}
a[href$="#children_crossing"]{background-position:48.27586% 92.85714%}
a[href$="#mens"]{background-position:51.72414% 92.85714%}
a[href$="#womens"]{background-position:55.17241% 92.85714%}
a[href$="#restroom"]{background-position:58.62069% 92.85714%}
a[href$="#baby_symbol"]{background-position:62.06897% 92.85714%}
a[href$="#toilet"]{background-position:65.51724% 92.85714%}
a[href$="#wc"]{background-position:68.96552% 92.85714%}
a[href$="#shower"]{background-position:72.41379% 92.85714%}
a[href$="#bath"]{background-position:75.86207% 92.85714%}
a[href$="#bathtub"]{background-position:79.31034% 92.85714%}
a[href$="#passport_control"]{background-position:82.75862% 92.85714%}
a[href$="#customs"]{background-position:86.2069% 92.85714%}
a[href$="#baggage_claim"]{background-position:89.65517% 92.85714%}
a[href$="#left_luggage"]{background-position:93.10345% 0%}
a[href$="#bangbang"]{background-position:93.10345% 3.57143%}
a[href$="#interrobang"]{background-position:93.10345% 7.14286%}
a[href$="#tm"]{background-position:93.10345% 10.71429%}
a[href$="#information_source"]{background-position:93.10345% 14.28571%}
a[href$="#left_right_arrow"]{background-position:93.10345% 17.85714%}
a[href$="#arrow_up_down"]{background-position:93.10345% 21.42857%}
a[href$="#arrow_upper_left"]{background-position:93.10345% 25%}
a[href$="#arrow_upper_right"]{background-position:93.10345% 28.57143%}
a[href$="#arrow_lower_right"]{background-position:93.10345% 32.14286%}
a[href$="#arrow_lower_left"]{background-position:93.10345% 35.71429%}
a[href$="#leftwards_arrow_with_hook"]{background-position:93.10345% 39.28571%}
a[href$="#arrow_right_hook"]{background-position:93.10345% 42.85714%}
a[href$="#watch"]{background-position:93.10345% 46.42857%}
a[href$="#hourglass"]{background-position:93.10345% 50%}
a[href$="#fast_forward"]{background-position:93.10345% 53.57143%}
a[href$="#rewind"]{background-position:93.10345% 57.14286%}
a[href$="#arrow_double_up"]{background-position:93.10345% 60.71429%}
a[href$="#arrow_double_down"]{background-position:93.10345% 64.28571%}
a[href$="#alarm_clock"]{background-position:93.10345% 67.85714%}
a[href$="#hourglass_flowing_sand"]{background-position:93.10345% 71.42857%}
a[href$="#m"]{background-position:93.10345% 75%}
a[href$="#black_small_square"]{background-position:93.10345% 78.57143%}
a[href$="#white_small_square"]{background-position:93.10345% 82.14286%}
a[href$="#arrow_forward"]{background-position:93.10345% 85.71429%}
a[href$="#arrow_backward"]{background-position:93.10345% 89.28571%}
a[href$="#white_medium_square"]{background-position:93.10345% 92.85714%}
a[href$="#black_medium_square"]{background-position:0% 96.42857%}
a[href$="#white_medium_small_square"]{background-position:3.44828% 96.42857%}
a[href$="#black_medium_small_square"]{background-position:6.89655% 96.42857%}
a[href$="#sunny"]{background-position:10.34483% 96.42857%}
a[href$="#cloud"]{background-position:13.7931% 96.42857%}
a[href$="#telephone"]{background-position:17.24138% 96.42857%}
a[href$="#ballot_box_with_check"]{background-position:20.68966% 96.42857%}
a[href$="#umbrella"]{background-position:24.13793% 96.42857%}
a[href$="#coffee"]{background-position:27.58621% 96.42857%}
a[href$="#point_up"]{background-position:31.03448% 96.42857%}
a[href$="#relaxed"]{background-position:34.48276% 96.42857%}
a[href$="#aries"]{background-position:37.93103% 96.42857%}
a[href$="#taurus"]{background-position:41.37931% 96.42857%}
a[href$="#gemini"]{background-position:44.82759% 96.42857%}
a[href$="#cancer"]{background-position:48.27586% 96.42857%}
a[href$="#leo"]{background-position:51.72414% 96.42857%}
a[href$="#virgo"]{background-position:55.17241% 96.42857%}
a[href$="#libra"]{background-position:58.62069% 96.42857%}
a[href$="#scorpius"]{background-position:62.06897% 96.42857%}
a[href$="#sagittarius"]{background-position:65.51724% 96.42857%}
a[href$="#capricorn"]{background-position:68.96552% 96.42857%}
a[href$="#aquarius"]{background-position:72.41379% 96.42857%}
a[href$="#pisces"]{background-position:75.86207% 96.42857%}
a[href$="#spades"]{background-position:79.31034% 96.42857%}
a[href$="#clubs"]{background-position:82.75862% 96.42857%}
a[href$="#hearts"]{background-position:86.2069% 96.42857%}
a[href$="#diamonds"]{background-position:89.65517% 96.42857%}
a[href$="#hotsprings"]{background-position:93.10345% 96.42857%}
a[href$="#recycle"]{background-position:96.55172% 0%}
a[href$="#wheelchair"]{background-position:96.55172% 3.57143%}
a[href$="#anchor"]{background-position:96.55172% 7.14286%}
a[href$="#warning"]{background-position:96.55172% 10.71429%}
a[href$="#zap"]{background-position:96.55172% 14.28571%}
a[href$="#white_circle"]{background-position:96.55172% 17.85714%}
a[href$="#black_circle"]{background-position:96.55172% 21.42857%}
a[href$="#soccer"]{background-position:96.55172% 25%}
a[href$="#baseball"]{background-position:96.55172% 28.57143%}
a[href$="#snowman"]{background-position:96.55172% 32.14286%}
a[href$="#partly_sunny"]{background-position:96.55172% 35.71429%}
a[href$="#ophiuchus"]{background-position:96.55172% 39.28571%}
a[href$="#no_entry"]{background-position:96.55172% 42.85714%}
a[href$="#church"]{background-position:96.55172% 46.42857%}
a[href$="#fountain"]{background-position:96.55172% 50%}
a[href$="#golf"]{background-position:96.55172% 53.57143%}
a[href$="#sailboat"]{background-position:96.55172% 57.14286%}
a[href$="#tent"]{background-position:96.55172% 60.71429%}
a[href$="#fuelpump"]{background-position:96.55172% 64.28571%}
a[href$="#scissors"]{background-position:96.55172% 67.85714%}
a[href$="#white_check_mark"]{background-position:96.55172% 71.42857%}
a[href$="#airplane"]{background-position:96.55172% 75%}
a[href$="#envelope"]{background-position:96.55172% 78.57143%}
a[href$="#fist"]{background-position:96.55172% 82.14286%}
a[href$="#raised_hand"]{background-position:96.55172% 85.71429%}
a[href$="#v"]{background-position:96.55172% 89.28571%}
a[href$="#pencil2"]{background-position:96.55172% 92.85714%}
a[href$="#black_nib"]{background-position:96.55172% 96.42857%}
a[href$="#heavy_check_mark"]{background-position:0% 100%}
a[href$="#heavy_multiplication_x"]{background-position:3.44828% 100%}
a[href$="#sparkles"]{background-position:6.89655% 100%}
a[href$="#eight_spoked_asterisk"]{background-position:10.34483% 100%}
a[href$="#eight_pointed_black_star"]{background-position:13.7931% 100%}
a[href$="#snowflake"]{background-position:17.24138% 100%}
a[href$="#sparkle"]{background-position:20.68966% 100%}
a[href$="#x"]{background-position:24.13793% 100%}
a[href$="#negative_squared_cross_mark"]{background-position:27.58621% 100%}
a[href$="#question"]{background-position:31.03448% 100%}
a[href$="#grey_question"]{background-position:34.48276% 100%}
a[href$="#grey_exclamation"]{background-position:37.93103% 100%}
a[href$="#exclamation"]{background-position:41.37931% 100%}
a[href$="#heart"]{background-position:44.82759% 100%}
a[href$="#heavy_plus_sign"]{background-position:48.27586% 100%}
a[href$="#heavy_minus_sign"]{background-position:51.72414% 100%}
a[href$="#heavy_division_sign"]{background-position:55.17241% 100%}
a[href$="#arrow_right"]{background-position:58.62069% 100%}
a[href$="#curly_loop"]{background-position:62.06897% 100%}
a[href$="#loop"]{background-position:65.51724% 100%}
a[href$="#arrow_heading_up"]{background-position:68.96552% 100%}
a[href$="#arrow_heading_down"]{background-position:72.41379% 100%}
a[href$="#arrow_left"]{background-position:75.86207% 100%}
a[href$="#arrow_up"]{background-position:79.31034% 100%}
a[href$="#arrow_down"]{background-position:82.75862% 100%}
a[href$="#black_large_square"]{background-position:86.2069% 100%}
a[href$="#white_large_square"]{background-position:89.65517% 100%}
a[href$="#star"]{background-position:93.10345% 100%}
a[href$="#o"]{background-position:96.55172% 100%}
a[href$="#wavy_dash"]{background-position:100% 0%}
a[href$="#part_alternation_mark"]{background-position:100% 3.57143%}
a[href$="#congratulations"]{background-position:100% 7.14286%}
a[href$="#secret"]{background-position:100% 10.71429%}
